@if (Visible)
{
    <div class="alert @ObtenerCssAlert() alert-dismissible fade show" role="alert">
        <button type="button" @  class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>@MensajeCabecera</strong> @Mensaje
    </div>

}

@code {
    private string cssAlert;
    private string MensajeCabecera;
    [Parameter] public PCP.Shared.Enum.TipoAlerta Tipo { get; set; } = PCP.Shared.Enum.TipoAlerta.danger;
    [Parameter] public bool Visible { get; set; } = false;
    [Parameter] public string Mensaje { get; set; } = "";


    protected string ObtenerCssAlert()
    {
        switch (Tipo)
        {
            case PCP.Shared.Enum.TipoAlerta.danger:
                cssAlert = "alert-danger";
                MensajeCabecera = "Error!";
                break;
            case PCP.Shared.Enum.TipoAlerta.success:
                cssAlert = "alert-success";
                MensajeCabecera = "Correctamente Guardado!";
                break;
            default:
                break;
        }

        return cssAlert;
    }
}
