@inherits LayoutComponentBase
<body>
    <NavMenu />

    <div class="container-fluid" style="margin-top: inherit">
        @Body
    </div>
</body>

<footer class="border-top footer text-muted fixed-bottom">
    <div class="container mt-4 mb-4">
        &copy; @DateTime.Now.Year - Solutiion - Planificación y Control de la Producción
    </div>
</footer>